<?xml version="1.0"?>
<!DOCTYPE workflow
[
	<!--
	PROGRAM
		Main workflow manager for ObsForge

	-->
	<!ENTITY PSLOT "{{ PSLOT }}">
	<!ENTITY ROTDIR "{{ COMROOT }}/{{ PSLOT }}">
	<!ENTITY JOBS_DIR "{{ HOMEobsforge }}/dev/job_cards/rocoto">
	<!ENTITY MAXTRIES "2">
]>

<workflow realtime="T" scheduler="{{ SCHEDULER }}" cyclethrottle="1" taskthrottle="25">

	<log verbosity="10"><cyclestr>{{ COMROOT }}/{{ PSLOT }}/logs/@Y@m@d@H.log</cyclestr></log>

	<!-- Define the cycles -->
        <cycledef activation_offset="00:05:00" group="rap">0 * * * 2026 *</cycledef>
<!--
	============================================
	Task: rap_atmos_bufr_dump
	============================================
-->
<task name="rap_atmos_bufr_dump" cycledefs="rap" maxtries="&MAXTRIES;">

	<command>{{ HOMEobsforge }}/dev/job_cards/rocoto/atmosbufrdump.sh</command>

	<jobname><cyclestr>obsforge_rap_atmos_bufr_dump_@H</cyclestr></jobname>
	<account>{{ ACCOUNT }}</account>
	<queue>{{ QUEUE }}</queue>
	<walltime>{{ WALLTIME_ATMOS_BUFR_DUMP }}</walltime>
	<nodes>{{ TASK_GEOM_ATMOS_BUFR_DUMP }}</nodes>
	<memory>{{ MEMORY_ATMOS_BUFR_DUMP }}</memory>
        <native>-l place=vscatter:shared</native>	

	<join><cyclestr>{{ COMROOT }}/{{ PSLOT }}/logs/@Y@m@d@H/rap_atmos_bufr_dump_prep.log</cyclestr></join>

	<envar><name>RUN_ENVIR</name><value>emc</value></envar>
	<envar><name>HOMEobsforge</name><value>{{ HOMEobsforge }}</value></envar>
	<envar><name>NET</name><value>rap</value></envar>
	<envar><name>RUN</name><value>rap</value></envar>
	<envar><name>CDATE</name><value><cyclestr>@Y@m@d@H</cyclestr></value></envar>
	<envar><name>PDY</name><value><cyclestr>@Y@m@d</cyclestr></value></envar>
	<envar><name>cyc</name><value><cyclestr>@H</cyclestr></value></envar>
	<envar><name>KEEPDATA</name><value>{{'YES' if KEEPDATA else 'NO'}}</value></envar>
	<envar><name>COMROOT</name><value>{{ COMROOT }}</value></envar>
	<envar><name>DCOMROOT</name><value>{{ DCOMROOT }}</value></envar>
	<envar><name>DATAROOT</name><value>{{ DATAROOT }}/{{ PSLOT }}/rap.<cyclestr>@Y@m@d@H</cyclestr></value></envar>
        <envar><name>OBSPROC_COMROOT</name><value>/lfs/h1/ops/prod/com/obsproc/v1.2</value></envar>
<!--
        <dependency>
                <datadep><cyclestr>/lfs/h1/ops/prod/com/obsproc/v1.2/gfs.@Y@m@d/@H/atmos/obsproc_version_for_t@Hz_gfs_prep_post_run</cyclestr></datadep>
	</dependency>	
-->	
</task>

</workflow>
